<!-- home.html -->
<ion-view>
    <ion-header-bar class="bar-header">
        <h1 class="title">Dilution BLG Calculator</h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
        <div class="list blg">
            <form>
                <label class="item item-input">
                    <span class="input-label">Otrzymane BGL</span>
                    <input type="number" placeholder="Podaj otrzymane BLG" id="inputA" required/>
                </label>

                <label class="item item-input">
                    <span class="input-label">Żądane BLG</span>
                    <input type="number" placeholder="Podaj żądane BLG" id="inputB" required />

                </label>

                <label class="item item-input">
                    <span class="input-label">Objętość otrzymanej brzeczki</span>
                    <input type="number" placeholder="Podaj objętość otrzymanej brzeczki (l)" id="inputC" required />
                </label>

                <button id="go" type="button" class="button">Oblicz</button>
            </form>

            <p class="text-center" id="result"></p>
        </div>
    </ion-content>
</ion-view>